*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

nav{
    background-color:burlywood;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 1.1em;
    padding: 7px 12px;
    text-transform: uppercase;
}

a.active, a:hover{
    background-color:grey;
    transition: 0.5s;
    border-radius: 5px;
}

nav img{
    width: 80px;
    margin-left: 40px;
    margin-top: 5px;
}


.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #fd0404;
}

.heading p{
    font-size: 25px;
    color: #bebdbd;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 50px;
    color: #000;
    margin-bottom: 15px;
}

.about-content p{
    font-size: 25px;
    line-height: 1.5;
    color: #bebdbd;
}

.about-content1 h2{
    font-size: 35px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top: 100px;
}

.about-content1 p{
    font-size: 25px;
    color: #bebdbd;
    text-align: center;

}

.about-content2 h2{
    font-size: 35px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top: 100px;
}

.about-content2 p{
    font-size: 25px;
    color: #bebdbd;
    text-align: center;

}

.about-content3 h2{
    font-size: 35px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top: 100px;
}

.about-content3 p{
    font-size: 25px;
    color: #bebdbd;
    text-align: center;

}


.AltMenü{
    background-color: #012b61;
    height: 500px;
}

.AltMenü p{
    color: #fff;
    margin-left: 2180px;
    margin-top: -190px;
}

.altmenu1 h3{
    cursor: pointer;
    text-align: left;
    margin-left: 100px;
    padding-top: 40px;
    color: #fff;
    position: relative;
    width: max-content;
}

.altmenu1 h3::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #fdfdfd;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
}

.altmenu1 h3:hover::after{
    transform: scale(1);
}

.altmenu2 h3{
    cursor: pointer;
    padding-left: 300px;
    padding-top: 200px;
    color:whitesmoke;
    position:relative;
    float: left;
    font-size: small;

}

.altmenu2 h3::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 10%;
    background-color: #fdfdfd;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
    right: 0;
    
}

.altmenu2 h3:hover::after{
    transform: scale(1);
}

.altmenu3 h3{
    cursor: pointer;
    padding-left: 50px;
    padding-top: 200px;
    color:whitesmoke;
    position:relative;
    float: left;
    font-size: small;
    letter-spacing: 2px;

}

.altmenu3 h3::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 75%;
    right: 0;
    background-color: #fdfdfd;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
    
}

.altmenu3 h3:hover::after{
    transform: scale(1);
}


.altmenu4 h3{
    color:gray;
    position:absolute;
    font-size: small;
    letter-spacing: 2px;
    margin-top: 200px;
    margin-left: 1000px;

}

.altmenu5 h2{
    color:white;
    position:absolute;
    font-size: large;
    letter-spacing: 2px;
    margin-top: -190px;
    margin-left: 800px;
}

.altmenu5 i{
    position:absolute;
    font-size: xx-large;
    margin-top: -200px;
    margin-left: 200px;
    color: #fdfdfd;
}

.altmenu6 i{
    position:absolute;
    font-size: xx-large;
    margin-top: -134px;
    margin-left: 200px;
    color: #fdfdfd;
}

.altmenu6 h2{
    color:white;
    position:absolute;
    font-size: large;
    letter-spacing: 2px;
    margin-top: -127px;
    margin-left: 803px;
}

.altmenu7 i{
    position:absolute;
    font-size: xx-large;
    margin-top: -73px;
    margin-left: 200px;
    color: #fdfdfd;
}

.altmenu7 h2{
    color:white;
    position:absolute;
    font-size: large;
    letter-spacing: 2px;
    margin-top: -67px;
    margin-left: 803px;
}


.social-menu{
    position: relative;
    display: flex;
    margin-left: 2205px;
    
}

.social-icon{
    position: relative;
    
}

.social-icon a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    margin: 0 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    transform: translateY(0) scale(1);
    transition: 0.3s;
    
}

.social-icon:hover a{
    transform: translateY(-6px) scale(1.2);
    margin: 0 10px;
    font-size: x-large;
}

.social-icon:nth-child(1):hover a{
    background: #1da1f2;
}

.social-icon:nth-child(2):hover a{
    background: #3b5998;
}

.social-icon:nth-child(3):hover a{
    background: #c32aa3;
}

.social-icon:nth-child(4):hover a{
    background: #f70303;
}

.social-icon a i{
    font-size: 20px;
    color: #000;
    line-height: 40px;
    transition: 0.3s;
}

.social-icon:hover a i{
    color: #fff;
}


.container1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 80%;
    height: 500px;
}